body {
  background-color: black;
  text-align: center;
  color: white;
}


#myCanvas {
  background-image: url("https://www.shutterstock.com/image-vector/cherry-blossom-tree-isolated-on-600nw-2283350531.jpg");
  background-size: 550px;
  border-radius: 30px;
  border: 1px solid rgb(255,245,227);
}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}

